future
hg+http://hg.q-continuum.net/libloader#egg=libloader
hg+http://hg.q-continuum.net/platform_utils#egg=platform_utils
hg+http://hg.q-continuum.net/sound_lib#egg=sound_lib
confmanager
requests
git+https://github.com/simon-weber/Unofficial-Google-Music-API.git
